services:
  app:
    build:
      target: final-cuda
    image: myproject:cuda
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
