name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.12']   # add more versions if you like
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip'

      - name: Install package + test deps
        run: |
          python -m pip install -U pip
          pip install -e ".[test]"

      - name: Run unittests
        run: python -m unittest discover -s tests -p "test_*.py" -v

      # Optional coverage
      - name: Coverage
        run: |
          pip install coverage
          coverage run -m unittest discover -s tests -p "test_*.py"
          coverage report -m
      - name: Upload coverage report
        uses: actions/upload-artifact@v4
        with:
          name: coverage-txt
          path: coverage.xml
        if: always()
